.new-application {
  max-width: 616px;
  margin: 0px auto 20px;
  font-size: 20px;
  display: grid;
  grid-template-columns: 200px 400px;
  column-gap: 16px;
  row-gap: 16px;
}

.new-application__label {
}

.new-application__textarea {
  height: 200px;
}

.new-application__submit-button {
  width: 140px;
  height: 40px;
  margin: 0 0 12px;
  border: none;
  background-color: #405e9c;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
}

.new-application__submit-button:hover {
  cursor: pointer;
}
