.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.modal_active {
  display: block;
}

.modal__content {
  width: 500px;
  margin: 10px auto;
  position: relative;
  background-color: #fff;
  border-radius: 12px;
  height: 95%;
  max-height: 696px;
}

.modal__header {
  height: 48px;
  background-color: #405e9c;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0 0 24px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal__title {
  padding-top: 6px;
  font-size: 24px;
  line-height: 36px;
}

.modal__form {
  height: calc(100% - 80px);
  overflow: auto;
}

.modal__input {
  width: calc(100% - 48px);
  height: 36px;
  margin-bottom: 12px;
  font-size: 16px;
}

.modal__textarea {
  width: calc(100% - 48px);
  height: 120px;
  margin-bottom: 18px;
}

.modal__caption {
  color: #000;
  margin: 0 24px 12px;
  text-align: left;
}

.modal__submit-button {
  width: 140px;
  height: 40px;
  position: relative;
  left: calc(50% - 90px);
  margin-bottom: 12px;
  border: none;
  background-color: #405e9c;
  color: #fff;
  border-radius: 8px;
}

.modal__submit-button:hover {
  cursor: pointer;
}
