.navbar {
}

.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar__list-item {
  margin-right: 24px;
  color: #fff;
  text-decoration: none;
}

.navbar__list-item:hover {
  cursor: pointer;
}
